[Unit]
Description=VeloxOS User Setup Service
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/veloxos/veloxos-user
RemainAfterExit=true

[Install]
WantedBy=default.target