[Unit]
Description=VeloxOS Old Overlay Directory Cleanup
Documentation=https://veloxos.org
After=local-fs.target
Before=veloxos-pkgroot-init.service
# Only runs when cleanup script was written by migration
ConditionPathExists=/var/lib/veloxos/cleanup-overlay.sh

[Service]
Type=oneshot
ExecStart=/var/lib/veloxos/cleanup-overlay.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
